# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables (secrets)
.env

# SQLite Database file (often ignored if using a hosted DB like PostgreSQL)
*.db
servicesapp.db

# Misc IDE files (like VS Code settings)
.vscode/
.idea/
